PC.TFS.BuildTask\LreCiExtension\LreCiTask\node_modules
PC.TFS.BuildTask\LreCiExtension\LreCiTask\index.js
PC.TFS.BuildTask\LreCiExtension\LreCiTask\package.json
PC.TFS.BuildTask\LreCiExtension\LreCiTask\package-lock.json
PC.TFS.BuildTask\LreCiExtension\LreCiTask\tsconfig.json